<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amir.alzheimer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".base.AlzheimerApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        android:allowBackup="true"
        android:fullBackupContent="true">
        <meta-data
            android:name="DATABASE"
            android:value="alzhimer_app.db" />
        <meta-data
            android:name="VERSION"
            android:value="10" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
<!--        <meta-data-->
<!--            android:name="DOMAIN_PACKAGE_NAME"-->
<!--            android:value="com.amir" />-->

        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="stickergramapp.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name="com.tangxiaolv.telegramgallery.GalleryActivity" />
        <activity
            android:name=".activities.games.NumberGameActivity"
            android:label="@string/title_activity_number_game"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.games.SquareMatchActivity"
            android:label="@string/title_activity_square_match"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.games.OneToFifty"
            android:label="@string/title_activity_square_match"
            android:theme="@style/AppTheme" />

        <activity android:name=".androidpuzzlegame.MainActivityPuzzle" />
        <activity android:name=".androidpuzzlegame.PuzzleActivity" />
    </application>

</manifest>